<div id="modal" class="modal-bg">
  <div class="modal-box">
    <h2 id="modalTitle"></h2>
    <p id="modalText"></p>

    <form id="modalForm" method="POST">
      <div id="modalFields"></div>

      <div class="modal-buttons">
        <button type="submit" id="modalSave" class="save-btn">Kaydet</button>
        <button type="submit" id="modalDelete" class="delete-confirm">Sil</button>
        <button type="button" class="cancel-btn" onclick="closeModal()">Vazgeç</button>
      </div>
    </form>

  </div>
</div>
