<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MSFL Tarih Kulübü</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/anasayfa.css" />
  <link rel="stylesheet" href="/css/hakkinda.css" />
  <link rel="stylesheet" href="/css/blog.css" />
  <link rel="stylesheet" href="/css/etkinlikler.css" />
  <link rel="stylesheet" href="/css/tarihteBugun.css" />
  <link rel="stylesheet" href="/css/oturumAc.css" />
  <link rel="stylesheet" href="/css/kayitOl.css" />
  <link rel="stylesheet" href="/css/blogDetay.css" />
  <link rel="stylesheet" href="/css/blogOlustur.css" />
  <link rel="stylesheet" href="/css/archive/adminGiris.css" />
  {{! <link rel="stylesheet" href="/css/adminBlogPanel.css" />
  <link rel="stylesheet" href="/css/adminUserPanel.css" /> }}
  <link rel="stylesheet" href="/css/blogActions.css" />
  <link rel="stylesheet" href="/css/blogDuzenle.css" />
  <link rel="stylesheet" href="/css/previewImage.css" />
  <link rel="stylesheet" href="/css/yorumModal.css" />
  <link rel="stylesheet" href="/css/editYorum.css" />
  <link rel="stylesheet" href="/css/hesap.css" />
  <link rel="stylesheet" href="/css/hesapDuzenle.css" />
  <link rel="stylesheet" href="/css/profile.css" />
  <link rel="stylesheet" href="/css/error.css" />
  <link rel="stylesheet" href="/css/sifreYeni.css" />
  {{! <link rel="stylesheet" href="/css/adminModal.css" />
  <link rel="stylesheet" href="/css/adminYorumPanel.css" /> }}
  <link rel="stylesheet" href="/css/adminPanel.css" />
  <link rel="stylesheet" href="/css/legal.css" />
  <link rel="stylesheet" href="/css/sifreUnuttum.css" />
  <link rel="shortcut icon" href="/img/kulup_temiz.png" type="image/x-icon" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  />
</head>