<html lang="en">

  {{> header}}

  <body>

    {{> navbar}}

    {{> alerts}}

    {{{body}}}

    {{> footer}}

    <script src="/js/script.js" defer></script>
    <script src="/js/hesap.js" defer></script>
    <script src="/js/admin.js" defer></script>
    <script src="/js/sifreUnuttum.js" defer></script>
    <script src="/js/blogUploadLimit.js" defer></script>
    <script src="/js/blogForm.js" defer></script>
  </body>

</html>
