<html lang="en">

  {{> header}}

  <body>

    {{> navbar}}

    {{{body}}}

    {{> footer}}

    <script src="/js/script.js" defer></script>
    <script src="/js/hesap.js" defer></script>
    <script src="/js/adminUser.js" defer></script>
    <script src="/js/adminUserModals.js" defer></script>
    <script src="/js/adminYorumPanel.js" defer></script>
    <script src="/js/admin.js" defer></script>
    <script src="/js/sifreUnuttum.js" defer></script>
  </body>

</html>