<html lang="en">

  {{> header}}

  <body>

    <div id="globalLoading" class="global-loading">
      <div class="loader"></div>
      <span>Bağlantı kuruluyor...</span>
    </div>

    {{> navbar}}

    {{> alerts}}

    {{{body}}}

    {{> footer}}

    <script src="/js/script.js" defer></script>
    <script src="/js/navbar.js" defer></script>
    <script src="/js/admin.js" defer></script>
    <script src="/js/sifreUnuttum.js" defer></script>
    <script src="/js/blogUploadLimit.js" defer></script>
    <script src="/js/alerts.js" defer></script>
  </body>

</html>
