/* ======= FOOTER ======= */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, #5b5b5b, #000000);
  color: #fff;
  padding: 25px 60px;
  height: 160px;
  font-family: "Cardo", serif;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
}

.footer h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
}

.footer h4 {
  font-size: 15px;
  font-weight: 600;
}
