/* ======= NAVBAR ======= */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #731919, #e52b2b);
  padding: 10px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color: white;
  height: 100px;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: contain;
}

.nav-center {
  flex: 1;
  text-align: center;
}

.nav-center a {
  text-decoration: none;
  font-size: 25px;
  font-family: glacial, sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.8px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* NAVBAR RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-right a {
  text-decoration: none;
  background: radial-gradient(circle at top, #4b4b4b, #2d2d2d);
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.nav-right a:hover {
  transform: scale(1.05);
  background: #555;
  border-color: rgba(255, 255, 255, 0.3);
}

/* SPECIAL BUTTONS */
.login-btn {
  background: linear-gradient(to right, #444, #222);
}

.register-btn {
  background: linear-gradient(to right, #ff9999, #e52b2b);
}

.account-btn {
  background: radial-gradient(circle at top, #2f4b2f, #1f321f);
}

.logout-btn {
  background: linear-gradient(to right, #7c0000, #400000);
}

/* ======= SOSYAL MEDYA ======= */
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #dfdcda, #858176);
  padding: 10px 40px;
  height: 50px;
  gap: 100px;
}

.social-group {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.social-group:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.media-icon {
  width: 22px;
  height: 22px;
}

.media-link {
  font-family: "Glacial", sans-serif;
  color: #2d2d2d;
  font-size: 14px;
  transition: color 0.3s ease;
}

.social-group:hover .media-link {
  color: #731919;
}
