.edit-existing-images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.existing-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.existing-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #aaa;
}

.delete-checkbox {
  margin-top: 5px;
}

.preview-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.preview-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
