<link rel="stylesheet" href="/css/error.css" />

<section class="error-wrapper">
  <h1 class="error-title">404 – Sayfa Bulunamadı</h1>
  <p class="error-text">
    Aradığın sayfa mevcut değil veya taşınmış olabilir.
  </p>

  <a href="/" class="error-btn">Ana Sayfaya Dön</a>
</section>
