<h2>Blog Oluştur</h2>

{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}
{{#if success}}
  <p class="success">{{success}}</p>
{{/if}}

<form id="blogForm" method="POST" action="/blog/olustur">
  <input type="text" name="title" placeholder="Başlık" required />

  <textarea name="content" placeholder="İçerik" required></textarea>

  <!-- Çoklu resim -->
  <p>Resim Yükle:</p>
  <input type="file" id="blogImages" multiple accept="image/*" />

  <div id="previewBox"></div>

  <input type="hidden" id="imageUrls" name="imageUrls" />

  <button type="submit">Blogu Oluştur</button>
</form>

<script src="/js/blogUpload.js"></script>