<link rel="stylesheet" href="/css/db-loading.css" />

<div class="db-loading-screen">
  <div class="db-loading-box">

    <img src="/img/kulup_temiz.png" alt="Tarih Kulübü" class="db-loading-logo" />

    <div class="loader"></div>

    <p class="db-loading-text">Sunucu hazırlanıyor... Lütfen bekleyin.</p>
  </div>
</div>
