<section class="delete-success">
  <h1>Hesabınız Silindi</h1>
  <p>
    Hesabınız başarıyla silinmiştir. Bu işlem
    <b>geri alınamaz</b>.
  </p>

  <p style="margin-top:20px;">
    Eğer destek talebiniz olursa
    <b>kullanıcı adınızı</b>
    ve
    <b>mail adresinizi</b>
    belirterek
    <a href="mailto:msfltarihkulubu@outlook.com">msfltarihkulubu@outlook.com</a>
    adresine yazabilirsiniz.
  </p>
</section>